@charset "UTF-8";
:root {
  --vcn-border-gray-cl: #d5d5d5;
  --vcn-hover-gray-cl: #4a556520;
  --vcn-text-link-cl: #f63b3b;
  --vcn-table-border-cl: #bebebe;
}

.NAME-codevcn-editor {
  font-size: 1rem;
}
.NAME-codevcn-editor .NAME-editor-content {
  /* Custom selection màu */
  /* Custom scrollbar */
}
.NAME-codevcn-editor .NAME-editor-content:focus {
  outline: none;
}
.NAME-codevcn-editor .NAME-editor-content ::selection {
  background: rgba(59, 130, 246, 0.3);
}
.NAME-codevcn-editor .NAME-editor-content::-webkit-scrollbar {
  width: 8px;
}
.NAME-codevcn-editor .NAME-editor-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.NAME-codevcn-editor .NAME-editor-content ol,
.NAME-codevcn-editor .NAME-editor-content ul {
  padding-left: 15px;
}
.NAME-codevcn-editor .NAME-editor-content li {
  position: relative;
  padding-left: 23px;
}
.NAME-codevcn-editor .NAME-editor-content ol {
  list-style: none;
  counter-reset: item;
}
.NAME-codevcn-editor .NAME-editor-content ol li {
  counter-increment: item;
}
.NAME-codevcn-editor .NAME-editor-content ol li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  top: 0;
}
.NAME-codevcn-editor .NAME-editor-content ul {
  list-style: none;
  list-style-position: inside;
}
.NAME-codevcn-editor .NAME-editor-content ul li::before {
  content: "";
  background-image: url("/assets/images/codevcn-editor/list-bullet.svg");
  background-position: right;
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1.3rem;
  height: 1.3rem;
}
.NAME-codevcn-editor .NAME-editor-content section {
  white-space: pre-wrap;
}
.NAME-codevcn-editor .NAME-editor-content h1,
.NAME-codevcn-editor .NAME-editor-content h2,
.NAME-codevcn-editor .NAME-editor-content h3,
.NAME-codevcn-editor .NAME-editor-content p {
  display: inline-block;
}
.NAME-codevcn-editor .NAME-editor-content h1 {
  font-size: 2rem;
  font-weight: 700;
}
.NAME-codevcn-editor .NAME-editor-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.NAME-codevcn-editor .NAME-editor-content h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.NAME-codevcn-editor .NAME-editor-content p {
  font-size: 1rem;
}
.NAME-codevcn-editor .NAME-editor-content blockquote {
  border-left: 4px solid #ccc; /* đường kẻ bên trái */
  margin: 1em 0;
  padding: 0.5em 1em;
  background: #f9f9f9; /* nền xám nhạt */
  color: #555; /* chữ xám */
}
.NAME-codevcn-editor .NAME-editor-content blockquote p {
  display: block;
}
.NAME-codevcn-editor .NAME-editor-content img {
  display: inline-block;
}
.NAME-codevcn-editor .NAME-editor-content a {
  cursor: pointer;
  color: var(--vcn-text-link-cl);
}
.NAME-codevcn-editor .NAME-editor-content table {
  border-collapse: collapse;
  width: 100%;
  margin: 4px 0;
  table-layout: fixed; /* Cột chia đều bất kể nội dung */
  position: relative;
}
.NAME-codevcn-editor .NAME-editor-content table tr.STATE-dragging {
  opacity: 0.5;
}
.NAME-codevcn-editor .NAME-editor-content table tr td {
  border: 1px solid var(--vcn-table-border-cl);
  padding: 4px 8px;
  position: relative;
}
.NAME-codevcn-editor .NAME-editor-content table tr td.STATE-highlight-cell {
  outline: 2px solid gray;
}

.NAME-add-image-container .NAME-add-image-type-buttons.STATE-upload .NAME-add-image-btn-upload {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.NAME-add-image-container .NAME-add-image-type-buttons.STATE-url .NAME-add-image-btn-url {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.NAME-add-image-container .NAME-add-image-content.STATE-url .NAME-add-image-upload-section {
  display: none;
}
.NAME-add-image-container .NAME-add-image-content.STATE-url .NAME-add-image-url-section {
  display: block;
}
.NAME-add-image-container .NAME-add-image-content.STATE-upload .NAME-add-image-upload-section {
  display: block;
}
.NAME-add-image-container .NAME-add-image-content.STATE-upload .NAME-add-image-url-section {
  display: none;
}

.NAME-copy-box .NAME-copy-copy {
  display: block;
}
.NAME-copy-box .NAME-copy-copied {
  display: none;
}
.NAME-copy-box.STATE-copied .NAME-copy-copy {
  display: none;
}
.NAME-copy-box.STATE-copied .NAME-copy-copied {
  display: block;
}

.cm-editor {
  outline: none;
  overflow: hidden;
  border-top: 1px solid var(--vcn-border-gray-cl);
}
.cm-editor.cm-focused {
  outline: none;
}

.NAME-modal {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}
.NAME-modal.STATE-show {
  opacity: 1;
  pointer-events: auto;
}

.NAME-popover {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.2s ease-in-out;
  width: max-content;
}
.NAME-popover.STATE-show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.NAME-dropdown-menu {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.2s ease-in-out;
}
.NAME-dropdown-menu .NAME-dropdown-option:hover {
  background-color: var(--vcn-hover-gray-cl);
}
.NAME-dropdown-menu .NAME-dropdown-option.active {
  background-color: var(--vcn-hover-gray-cl);
}
.NAME-dropdown-menu.STATE-show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.NAME-add-table-row-btn-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 90;
  width: 100%;
  padding-top: 6px;
}
.NAME-add-table-row-btn-container.STATE-show {
  display: flex;
}

.NAME-add-table-column-btn-container {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 90;
  height: 100%;
  padding-left: 6px;
}
.NAME-add-table-column-btn-container.STATE-show {
  display: flex;
}

.NAME-coordinates-row-options {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.NAME-coordinates-row-options.STATE-show {
  display: block;
}

.NAME-coordinates-column-options {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.NAME-coordinates-column-options.STATE-show {
  display: block;
}

[hidden] {
  display: none;
}
