.NAME-modal {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;

  &.STATE-show {
    opacity: 1;
    pointer-events: auto;
  }
}

.NAME-popover {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.2s ease-in-out;
  width: max-content;

  &.STATE-show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.NAME-dropdown-menu {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.2s ease-in-out;

  .NAME-dropdown-option {
    &:hover {
      background-color: var(--vcn-hover-gray-cl);
    }
    &.active {
      background-color: var(--vcn-hover-gray-cl);
    }
  }

  &.STATE-show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.NAME-add-table-row-btn-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 90;
  width: 100%;
  padding-top: 6px;

  &.STATE-show {
    display: flex;
  }
}

.NAME-add-table-column-btn-container {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 90;
  height: 100%;
  padding-left: 6px;

  &.STATE-show {
    display: flex;
  }
}

.NAME-coordinates-row-options {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 99;

  &.STATE-show {
    display: block;
  }
}

.NAME-coordinates-column-options {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  &.STATE-show {
    display: block;
  }
}
