@charset "UTF-8";
body {
  padding: 10px;
}

.editor-content {
  /* Custom selection màu */
  /* Custom scrollbar */
}
.editor-content:focus {
  outline: none;
}
.editor-content ::selection {
  background: rgba(59, 130, 246, 0.3);
}
.editor-content::-webkit-scrollbar {
  width: 8px;
}
.editor-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.NAME-custom-dropdown {
  position: relative;
}
.NAME-custom-dropdown .NAME-custom-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.3s ease-in-out;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--vcn-border-gray-cl);
  z-index: 10;
  padding: 6px;
}
.NAME-custom-dropdown .NAME-custom-dropdown-content .NAME-custom-dropdown-option {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}
.NAME-custom-dropdown .NAME-custom-dropdown-content .NAME-custom-dropdown-option:hover {
  background-color: var(--vcn-hover-gray-cl);
}
.NAME-custom-dropdown .NAME-custom-dropdown-content .NAME-custom-dropdown-option.active {
  background-color: var(--vcn-hover-gray-cl);
}
.NAME-custom-dropdown[data-open=true] .NAME-custom-dropdown-content {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
