@charset "UTF-8";
:root {
  --vcn-border-gray-cl: #d5d5d5;
  --vcn-hover-gray-cl: #4a556520;
}

.NAME-codevcn-editor {
  font-size: 1rem;
}
.NAME-codevcn-editor .NAME-editor-content {
  /* Custom selection màu */
  /* Custom scrollbar */
}
.NAME-codevcn-editor .NAME-editor-content:focus {
  outline: none;
}
.NAME-codevcn-editor .NAME-editor-content ::selection {
  background: rgba(59, 130, 246, 0.3);
}
.NAME-codevcn-editor .NAME-editor-content::-webkit-scrollbar {
  width: 8px;
}
.NAME-codevcn-editor .NAME-editor-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.NAME-codevcn-editor .NAME-editor-content ol,
.NAME-codevcn-editor .NAME-editor-content ul {
  padding-left: 15px;
}
.NAME-codevcn-editor .NAME-editor-content li {
  position: relative;
  padding-left: 23px;
}
.NAME-codevcn-editor .NAME-editor-content ol {
  list-style: none;
  counter-reset: item;
}
.NAME-codevcn-editor .NAME-editor-content ol li {
  counter-increment: item;
}
.NAME-codevcn-editor .NAME-editor-content ol li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  top: 0;
}
.NAME-codevcn-editor .NAME-editor-content ul {
  list-style: none;
  list-style-position: inside;
}
.NAME-codevcn-editor .NAME-editor-content ul li::before {
  content: "";
  background-image: url("/assets/images/codevcn-editor/list-bullet.svg");
  background-position: right;
  position: absolute;
  left: 0;
  top: 0.2em;
  width: 1.3rem;
  height: 1.3rem;
}
.NAME-codevcn-editor .NAME-editor-content h1,
.NAME-codevcn-editor .NAME-editor-content h2,
.NAME-codevcn-editor .NAME-editor-content h3,
.NAME-codevcn-editor .NAME-editor-content p {
  display: inline-block;
}
.NAME-codevcn-editor .NAME-editor-content h1 {
  font-size: 2rem;
  font-weight: 700;
}
.NAME-codevcn-editor .NAME-editor-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.NAME-codevcn-editor .NAME-editor-content h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.NAME-codevcn-editor .NAME-editor-content p {
  font-size: 1rem;
}
.NAME-codevcn-editor .NAME-editor-content blockquote {
  border-left: 4px solid #ccc; /* đường kẻ bên trái */
  margin: 1em 0;
  padding: 0.5em 1em;
  background: #f9f9f9; /* nền xám nhạt */
  color: #555; /* chữ xám */
}
.NAME-codevcn-editor .NAME-editor-content blockquote p {
  display: block;
}
.NAME-codevcn-editor .NAME-custom-dropdown {
  position: relative;
}
.NAME-codevcn-editor .NAME-custom-dropdown .NAME-custom-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.2s ease-in-out;
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid var(--vcn-border-gray-cl);
  z-index: 10;
  padding: 6px;
}
.NAME-codevcn-editor .NAME-custom-dropdown .NAME-custom-dropdown-content .NAME-custom-dropdown-option {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  line-height: 1.5;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}
.NAME-codevcn-editor .NAME-custom-dropdown .NAME-custom-dropdown-content .NAME-custom-dropdown-option:hover {
  background-color: var(--vcn-hover-gray-cl);
}
.NAME-codevcn-editor .NAME-custom-dropdown .NAME-custom-dropdown-content .NAME-custom-dropdown-option.active {
  background-color: var(--vcn-hover-gray-cl);
}
.NAME-codevcn-editor .NAME-custom-dropdown[data-open=true] .NAME-custom-dropdown-content {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.NAME-add-image-container .NAME-add-image-type-buttons.STATE-upload .NAME-add-image-btn-upload {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.NAME-add-image-container .NAME-add-image-type-buttons.STATE-url .NAME-add-image-btn-url {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.NAME-add-image-container .NAME-add-image-content.STATE-url .NAME-add-image-upload-section {
  display: none;
}
.NAME-add-image-container .NAME-add-image-content.STATE-url .NAME-add-image-url-section {
  display: block;
}
.NAME-add-image-container .NAME-add-image-content.STATE-upload .NAME-add-image-upload-section {
  display: block;
}
.NAME-add-image-container .NAME-add-image-content.STATE-upload .NAME-add-image-url-section {
  display: none;
}

.NAME-modal {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}
.NAME-modal.STATE-show {
  opacity: 1;
  pointer-events: auto;
}

[hidden] {
  display: none;
}
