<html lang="vi">
  <%- include("../partials/page-head.ejs", { title: "Wysiwyg" }) -%>
  <body class="bg-gray-100 p-10 text-lg">
    <div id="codevcn-editor-root"></div>
    <script type="module" src="/scripts/main.js" defer></script>
  </body>
</html>
